<section id='page'>
  <section class='no_side_body' id='body_content'>
    <h1 id='body_content_title'>Workshops</h1>
    <section id='body'>
      <div class='inner'>
        <p><%= lorem.paragraph %></p>
        <%= image_tag 'product-3.jpg', class: 'left medium' %>
        <%- 3.times do %>
          <p><%= lorem.paragraph %></p>
      <% end %>
        </p>
        <table>
          <thead>
            <tr>
              <th><%= lorem.words rand(1..4) %></th>
              <th><%= lorem.words rand(1..4) %></th>
              <th class='right'><%= lorem.words rand(1..4)%></th>
              <th class='right'><%= lorem.words rand(1..4) %></th>
            </tr>
          </thead>
          <tbody>
          <%- 5.times do %>
          <tr>
            <td><%= lorem.words 2 %></td>
            <td><%= lorem.sentence %></td>
            <td class='right'><%= (Date.today+rand(100)).strftime('%d %B') %></td>
            <td class='right'>€ <%= rand(10000).to_f/100 %></td>
          </tr>
        <%- end %>
          </tbody>
        </table>
      </div>
    </section>
  </section>
</section>
