<section id='page'>
  <section class='no_side_body' id='body_content'>
    <h1 id='body_content_title'>Workshops</h1>
    <section id='body'>
      <div class='inner'>
        <p><%= lorem.paragraph %></p>
        <%= image_tag 'product-3.jpg', class: 'left medium' %>
        <%- 3.times do %>
          <p><%= lorem.paragraph %></p>
      <% end %>
        </p>
        <table>
          <thead>
            <tr>
              <th><%= lorem.word %></th>
              <th><%= lorem.word %></th>
              <th><%= lorem.word %></th>
              <th><%= lorem.word %></th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td><%= lorem.word %></td>
            <td><%= lorem.word %></td>
            <td><%= lorem.word %></td>
            <td><%= lorem.word %></td>
          </tr>
          <tr>
            <td><%= lorem.word %></td>
            <td><%= lorem.word %></td>
            <td><%= lorem.word %></td>
            <td><%= lorem.word %></td>
          </tr>
          <tr>
            <td><%= lorem.word %></td>
            <td><%= lorem.word %></td>
            <td><%= lorem.word %></td>
            <td><%= lorem.word %></td>
          </tr>
          <tr>
            <td><%= lorem.word %></td>
            <td><%= lorem.word %></td>
            <td><%= lorem.word %></td>
            <td><%= lorem.word %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
  </section>
</section>
